/* ===== GERAL ===== */
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;color:#fff}
body{background:#000}
header{display:flex;align-items:center;padding:10px;background:#8b0000}
header h1{flex:1;text-align:center;font-size:20px}
#menuBtn{background:none;border:none;font-size:24px;color:#fff;cursor:pointer}
nav{display:none;flex-direction:column;background:#111;position:absolute;top:50px;left:0;width:200px}
nav button{padding:12px;border:none;background:#111;border-bottom:1px solid #222;color:#fff;cursor:pointer}
main{padding:15px}
select,input,button{width:100%;padding:10px;margin-bottom:10px;background:#111;border:1px solid #333;color:#fff;border-radius:4px}
button{background:#8b0000;border:none;font-weight:bold;cursor:pointer}
button:hover{background:#a30000}
.fire{background:#ff0000}

/* ===== LOGIN ===== */
body.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: Arial, sans-serif;
  margin:0;
}

.login-box {
  width: 90%;
  max-width: 350px;
  background: #111;
  padding: 25px;
  border-left: 5px solid #8b0000;
  border-radius: 8px;
  text-align: center;
}

.login-box h2 { margin-bottom: 20px; }

.login-box input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-left: 4px solid #8b0000;
  background: #222;
  color: #fff;
  border-radius: 4px;
}

.login-box button {
  display: block;
  margin: 15px auto 0 auto;
  width: 50%;
  padding: 10px;
  background-color: #8b0000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover { background-color: #a30000; }
